@model DTOs.DTO.DetailsPostVM
@{
    ViewData["Title"] = Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="container">




    <div class="row justify-content-evenly bg-light py-5 rounded-3 ">


       
        <div class="col-12 col-lg-8  mb-3 mb-md-0 ">


            @* ----------Seccion de Detalles del articulos------*@

            <div class=" border boder-1 g-0 shadow mb-5">

                @if (Model.Imagen is not null)
                {
                    <img src="/Imagenes/@Model.Imagen" class="card-img-top  img-fluid" alt="..." style="max-height:500px" />

                }
                else
                {

                    <div class="bg-primary w-100 d-flex justify-content-center align-items-center" style="height:250px">

                        <p class="text-black-50">Sube una imagen</p>

                    </div>


                }

                <div class=" px-3">

                    <div class="mt-2 ">

                        <p class=" bg-info d-inline-block p-1 text-white border rounded-3">@Model.IdCategoriaNavigationNombre</p>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="btn-group float-end">

                                <a asp-action="Edit" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-warning  ">

                                    <i class=" text-white fa-solid fa-pen-to-square fa-lg"></i>
                                </a>
                                <a asp-action="Delete" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-danger ">

                                    <i class="fa-solid fa-trash-can fa-lg"></i>
                                </a>
                            </div>
                        }

                    </div>


                    <p class="text-muted ">@Model.FechaPublicado.ToString("dd 'de' MMMM yyyy")</p>

                    <h1 class="text-capitalize ">@Model.Titulo</h1>

                    <p> @Html.Raw(Model.Descripcion)</p>


                    <p class="text-muted ">Autor <span class="text-primary">@Model.IdUserNavigationUserName</span></p>


                </div>

            </div>


            @*---------------seccion de paginacion--------------------------------*@

            @await Html.PartialAsync("_Paginacion")


            @* ---- Crear un nuevo Comentario ----------------*@

            <form asp-controller="Post" asp-action="Details" method="post" class="mt-5 mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <p class=" ms-2"> @Model.ListComentarios.Count() Comentarios</p>

                <div class="mb-3">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <input asp-for="Comentario.Nombre" class="form-control" placeholder="Nombre" />
                        <span asp-validation-for="Comentario.Nombre" class="text-danger"></span>
                    }
                </div>

                <div class="mb-3">

                    <textarea asp-for="Comentario.Descripcion" class="form-control py-3" placeholder="Agregar comentario"></textarea>
                    <span asp-validation-for="Comentario.Descripcion" class="text-danger"></span>
                </div>

                <div class="mb-3 text-end">
                    <input type="submit" class="btn btn-sm btn-success" value="Enviar">
                </div>


            </form>


            @* -----Mostrar todos los Comentarios de un POST------------*@

            @await Html.PartialAsync("_ListadoComentarios")


        </div>


        @* Seccion del listado de los articulos relacionados*@

        <div class="col-12 col-lg-4 col-xl-3 ">


            @await Html.PartialAsync("_ArticulosRelacionados", model:Model.ListPostVMs)

        </div>





    </div>


</div>

@section Scripts{


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

 }

