
@model DTOs.DTO.DetailsPostVM
@{
    ViewData["Title"] = "GetPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}



<div class="container">

    


    <div class="row d-flex justify-content-around ">

       
        <div class="col-12 col-md-8  border boder-1 g-0 shadow">

                
                <img src="/Imagenes/@Model.Imagen" class="card-img-top  img-fluid" alt="..." style="max-height:500px" />


              

              <div class=" px-3">

                  <div class="mt-2 ">

                    <p class=" bg-info d-inline-block p-1 text-white border rounded-3">@Model.IdCategoriaNavigationNombre</p>
                  
                    <div class="btn-group float-end">

                        <a asp-action="Edit" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-warning  ">Edit</a>
                        <a asp-action="Delete" asp-controller="Post" asp-route-id="@Model.Id" class="btn btn-danger ">delete</a>
                   </div>

                </div>



               
                <p class="text-muted ">@Model.FechaPublicado.ToString("dd 'de' MMMM yyyy")</p>

                <h1 class="text-capitalize ">@Model.Titulo</h1>

                <p> @Html.Raw(Model.Descripcion)</p>


                <p class="text-muted ">Autor <span class="text-primary">@Model.IdUserNavigationUserName</span></p>


              </div>



        </div>


       @await Html.PartialAsync("_Articulos", model:Model.ListPostVMs);

    </div>

   


</div>