@using System.Text.RegularExpressions;
@using DTOs.DTO;
@model IEnumerable<DTOs.DTO.ListPostVM>
@{
    ViewData["Title"] = "Index";

    List<Proyectos> proyectos;

    proyectos = ViewBag.ListadoProyectos;



    

    
}

<h1 class="text-center mb-5">Blog</h1>

<div class="container">

    <div class="row ">


       <div class="col-12 border border-1 rounded-2 py-5">

            <div class="row justify-content-center text-center text-primary ">

                <div class="col-4 border border-end-0 p-3 shadow ">

                   <h2>Backend</h2>
                    <ul class="list-unstyled">
                        <li>C#</li>
                        <li>ASP.net Core MVC</li>
                        <li>SQL SErver</li>
                        <li>PL/SQL</li>
                        <li>Entity Framework</li>
                        <li>LINQ</li>
                     
                    </ul>

               </div>

                <div class="col-4 border border-start-0  p-3 shadow ">

                    <h2>Frontend</h2>
                    <ul class="list-unstyled">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Java Script</li>
                        <li>Bootstrap</li>
                        <li>Jquery</li>
                        <li>React</li>

                    </ul>

               </div>

           </div>


       </div>

       <div class="col-12 py-5">

           
           <div class="row">

                <h2 class="text-center mb-5">Proyectos Recientes</h2>

                @foreach (var item in proyectos)
                {
                    <div class="col-12 col-md-4">

                        <div class="card text-center shadow">
                            <img src="~/Imagenes/proyectos/AgendaTelefonica.jpg" alt="..." height="200" >
                            <div class="card-body">

                                <h5 class="card-title text-dark">@item.Titulo</h5>

                                <p class="card-text">@item.Descripcion</p>

                                <a href="@item.Url" class="btn btn-primary">Ver Demo</a>
                            </div>
                        </div>

                    </div>
                }

             
           </div>


       </div>


        @if (Model.Count() > 0)
        {
    
      

            @foreach (var item in Model.OrderByDescending(f=> f.FechaPublicado))
            {
               <div class="col-12 col-md-6 col-lg-4 mb-5">

                    <div class="card shadow" >

                        @if (item.Imagen is not null)
                        {
                            <img src="/Imagenes/@item.Imagen" class="card-img-top" alt="..." height="250" style="" />

                        }
                        else
                        {

                            <div class="bg-primary w-100 d-flex justify-content-center align-items-center" style="height:250px">
                                
                                <p class="text-black-50">Sube una imagen</p>

                            </div>


                        }

                        <div class="card-body text-center">

                           <div class="text-start">
                                <p class="text-start bg-info d-inline-block p-1 text-white border rounded-3">@item.IdCategoriaNavigationNombre</p>
                           </div>

                            <h4 class="card-title text-uppercase">@item.Titulo</h4>
                            <div class="card-text">
                                @{

                                    string text = item.Descripcion.Replace("&nbsp;", string.Empty);
                                    text = Regex.Replace(text, "<.*?>", string.Empty);

                                    if (text.Length >100)
                                    {
                                        text = text.Substring(0, 100);
                                    }
                                }
                                   @text...                           
                            </div>
                            <a asp-action="Details" asp-controller="Post" asp-route-id="@item.Id" class="btn btn-sm btn-primary mt-3">Leer Mas...</a>
                            <p class="text-muted text-start  m-0">Autor <span class="text-primary">@item.IdUserNavigationUserName</span></p>
                            <p class="text-muted text-start  m-0">Creado @item.FechaPublicado.ToString("dd 'de' MMMM yyyy")</p>
                        </div>

                    </div>
               </div>
            }
               
     

        }
        else
        {
            
            <div class="col-12">

                <p>No Existe Registro</p>

            </div>
    
        }
    </div>

</div>
